@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wraper{
    @apply max-w-[1920px] mx-4 sm:mx-6 md:mx-8 lg:mx-12 xl:mx-24 2xl:mx-[220px]
  }
  .link{
    @apply font-medium text-lg leading-[23px]
  }
}
